<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="anki" />
  <package id="autohotkey.portable" />
  <package id="choco-cleaner" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="coretemp" />
  <package id="Cygwin" />
  <package id="directx" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnet" />
  <package id="DotNet3.5" />
  <package id="DotNet4.6.1" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-6.0-runtime" />
  <package id="dotnet-7.0-runtime" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-8.0-runtime" />
  <package id="dotnet-9.0-runtime" />
  <package id="dotnetfx" />
  <package id="dotnet-runtime" />
  <package id="epicgameslauncher" />
  <package id="Everything" />
  <package id="exiftool" />
  <package id="fabric-installer" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <package id="gimp" />
  <package id="godot" />
  <package id="goggalaxy" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="imageglass" />
  <package id="javaruntime" />
  <package id="jre8" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="kdenlive" />
  <package id="keepassxc" />
  <package id="minecraft-launcher" />
  <package id="mono" />
  <package id="mp3tag" />
  <package id="msys2" />
  <package id="musescore" />
  <package id="musicbee" />
  <package id="nuget.commandline" />
  <package id="nvidia-display-driver" />
  <package id="obsidian" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="openhardwaremonitor" />
  <package id="openmpt" />
  <package id="open-shell" />
  <package id="parsec" />
  <package id="python3" />
  <package id="python311" />
  <package id="python312" />
  <package id="python313" />
  <package id="qbittorrent" />
  <package id="retroarch" />
  <package id="steam" />
  <package id="steam-cleaner" />
  <package id="stremio" />
  <package id="taiga" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="webview2-runtime" />
  <package id="WinDirStat" />
  <package id="winrar" />
  <package id="xml-notepad" />
  <package id="youtube-dlc" />
  <package id="yt-dlp" />
  <package id="zoom" />
</packages>
